{% extends '_master.twig' %}

{% block content %}
    <div class="small-12 medium-12 large-9 columns content">


        <div class="row" style="max-width: 680px;">
            <div class="large-6 columns">
            </div>
            <div class="large-6 columns text-right">
            </div>
        </div>

    </div>

    <div class="small-12 medium-12 large-3 large-pull-9 end columns sidebar" id="sidebar">
        <nav id="sidebar-nav">
        </nav>
    </div>

{% endblock content %}
